html {
    margin: 0 auto;
    padding: 0;
}

body {
    font-size: 100%;
    line-height: 120%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 920px;
    text-align: left;
    margin: 0 auto;
}

#blog-title a {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    color: #000;
    border: 0;
    text-decoration-line: none;
}

nav {
    margin: 20px 0 0 0;
    text-align: left;
    border-top: 1px solid #ccc;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 3px 0 3px 0;
    line-height: 1.5em;
}

nav li a {
    text-decoration-line: none;
    border: 0;
    color: #000;
    cursor: pointer;
}

article h1 {
    border-bottom: 1px solid #000;
}

a {
    text-decoration-line: none;
    border-bottom: 1px black dotted;
    color: #000;
}

table {
    min-width: 920px;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
}

.right {
    width: 20%;
    text-align: right;
}

article {
    margin-bottom: 2em;
    min-height: 500px;
}

footer {
    margin: 0.5em 20px 0 20px;
    border-top: 3px double #ccc;
    padding: 1em 0 0 0;
    font-size: 70%;
    color: #999;
}