<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Xiaochan Xia">
    <title>{% if page.title %} {{page.title}} {% endif %}</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseUrl}}/assets/img/favicon.ico">

    <!-- Default styles -->
    <link href="{{site.baseUrl}}/assets/css/default.css" rel="stylesheet" type="text/css">
</head>