@font-face {
    font-family: "MJXc-TeX";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "MJXc-TeX";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Main-Bold.otf") format("opentype");
    font-weight: bold
}

@font-face {
    font-family: "MJXc-TeX";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Main-Italic.otf") format("opentype");
    font-style: italic
}

@font-face {
    font-family: "MJXc-TeX";
    src: url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Math-BoldItalic.woff") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Math-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic
}

html {
    margin: 0 auto;
    padding: 0;
}

body {
    font-size: 100%;
    line-height: 120%;
    background-color: #fff;
    font-family: MJXc-TeX;
    max-width: 860px;
    text-align: left;
    margin: 0 auto;
}

#blog-title a {
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    color: #000;
    border: 0;
    text-decoration-line: none;
}

nav {
    margin: 20px 0 0 0;
    text-align: left;
    border-top: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 3px 0 3px 0;
    line-height: 1.5em;
}

nav li a {
    text-decoration-line: none;
    border: 0;
    color: #000;
    cursor: pointer;
}

article h1 {
    border-bottom: 1px solid #000;
    font-size: 2em;
}

a {
    text-decoration-line: none;
    border-bottom: 1px black dotted;
    color: #000;
}

tr {
    display: table-row;
}

table {
    width: 100%;
}

td {
    display: table-cell;
}

.right {
    width: 20%;
    text-align: right;
}

article {
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    margin: 0.5em 20px 0 20px;
    border-top: 3px double #ccc;
    padding: 1em 0 0 0;
    font-size: 70%;
    color: #999;
    bottom: 0;
    position: fixed;
}